# Virtual Environment
venv

# Environment Variables
.env

# YOLO, Keypoints Model, XGBoost for Shot Type Classification
courthawk_engine/models

# Keypoints Data, Tennis Ball Detection Data
courthawk_engine/data/ball_detection_data
courthawk_engine/data/court_keypoints_data
courthawk_engine/data/pose_estimation_data

# Pose Estimation Data
courthawk_engine/pose_estimation/data

# MacOS
__pycache__
.DS_Store

# Zips
*.zip