venv

# Environment Variables
.env

# YOLO, Keypoints Model, XGBoost for Shot Classification
models

courtvision-engine/training/data
courtvision-engine/training/tennis-ball-detection-6
courtvision-engine/training/tennis_court_det_dataset.zip
courtvision-engine/training/keypoints_model.pt

courtvision-engine/pose_estimation/data

__pycache__
.DS_Store