venv

.env

yolov8x.pt
models

courtvision-pipeline/training/data
courtvision-pipeline/training/tennis-ball-detection-6
courtvision-pipeline/training/tennis_court_det_dataset.zip
courtvision-pipeline/training/keypoints_model.pt

pose_estimation/data

__pycache__
.DS_Store
.claude