# courthawk-engine
numpy
opencv-python
torch
torchvision
ultralytics
mediapipe
Pillow
pandas
scipy
xgboost

# backend
fastapi
uvicorn

# development
matplotlib
python-dotenv
roboflow
certifi
ipykernel
